button{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.trafficBackground{
    width: 15%;
    margin:auto;
    position: relative;
    background: black;
}
.lightBox{
    margin:auto;
    height: 200px;
    width: 200px;
    background: white;
    border-radius: 50%;
    /*box-shadow: inset 50px -40px 40px 65px black;*/
}

.redLight{
    box-shadow: inset 50px -40px 40px 65px red;
}

.yellowLight{
    box-shadow: inset 50px -40px 40px 65px yellow;
}

.greenLight{
    box-shadow: inset 50px -40px 40px 65px green;
}

.lightOff{
    box-shadow: inset 50px -40px 40px 65px black;
}

.spacer{
    height : 50px;
}